
<h2>Results Manager - Home Page</h2>

<div style="align-content:center">
    <table align="center">
        <tr>
            <td><a class="btn btn-success btn-group-sm" href="~/Unit_Enrolment/Index">Manage Results</a> </td>
            <td>&nbsp;</td>
            <td><a class="btn btn-success btn-sm" href="~/VirewReports/Index">View Reports</a></td>
        </tr>
    </table>
</div>
