
<h2>Search Criteria</h2>

<div style="align-content:center">
    <table align="center">
        <tr>
            <td><a class="btn btn-success btn-group-sm" href="~/Units/Index">Manage Units</a> </td>
            <td>&nbsp;</td>
            <td><a class="btn btn-success btn-sm" href="~/Students/Index">Manage Students</a> </td>
        </tr>
    </table>
</div>

