
@{
    ViewBag.Title = "Index";
}

<h2>Search Criteria</h2>

<div>
    <table>
        <tr>
            <td><a class="btn btn-success btn-lg" href="~/VirewReports/StudentID">Search by Student ID</a> </td>
            <td>&nbsp;</td>
            <td><a class="btn btn-success btn-lg"href="~/VirewReports/unitCode">Search by Unit Code</a> </td>
            <td>&nbsp;</td>
            <td><a class="btn btn-success btn-lg" href="~/VirewReports/Semester">Search by Semester</a> </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td><a class="btn btn-success btn-lg" href="~/VirewReports/Year">Search by Year</a> </td>
            <td>&nbsp;</td>
            <td><a class="btn btn-success btn-lg" href="~/VirewReports/Many">Search by All</a> </td>
        </tr>
    </table>
</div>

